@font-face {
	font-family: 'Gotham-Light';
	src: url('fonts/GothamHTF-Light.eot');
	src: local('☺'), url('fonts/GothamHTF-Light.woff') format('woff'), url('fonts/GothamHTF-Light.ttf') format('truetype'), url('fonts/GothamHTF-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bodoni-Roman';
	src: url('fonts/BauerBodoniStd-Roman.eot');
	src: local('☺'), url('fonts/BauerBodoniStd-Roman.woff') format('woff'), url('fonts/BauerBodoniStd-Roman.ttf') format('truetype'), url('fonts/BauerBodoniStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}